---
---

@import "main";

/* Nav menu */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  height: 50px;
  font-family: 'Jost', sans-serif;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
}

.nav-links a:hover {
  background-color: #ddd;
}

