<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <a href="{{ site.baseurl }}/index.html">Home</a>
        <a href="{{ site.baseurl }}/recipes.html">Recipes</a>
        <a href="{{ site.baseurl }}/placeholder.html">Placeholder</a>
        <a href="{{ site.baseurl }}/qwixx.html">Qwixx</a>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
