<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="banner">
      <a href="{{ site.baseurl }}/" class="logo">{{ site.title }}</a>
      <div class="navbar">
        <a href="{{ site.baseurl }}/recipes.html">Recipes</a>
        <a href="{{ site.baseurl }}/travel.html">Travel</a>
        <a href="{{ site.baseurl }}/news.html">News</a>
        <a href="{{ site.baseurl }}/todo.html">To-Do List</a>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
